@import '~@angular/material/theming';

@mixin app-contact-page-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-contact-page {
    background-color: #222;

    .mat-card-theme-override {
      // background-color: rgba(mat-color($accent, darker), 0.9);

      // Make same color as dark recaptcha
      // background-color: #222;
    }
  }
}
