@import '../../../styles/styles-variables';

h2 {
  margin: auto;
  padding: 30px;
}

.contact-page-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
  text-align: center;
}

mat-card {
  margin-bottom: 20px;
}

.recaptcha-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;

  button {
    max-height: 50px;
  }
}
