<div class="terms-container">
  <h3>Terms and Conditions</h3>

  <p>
    This website is operated by staff within the SBN group (hereon "we/us") at the University of
    Maryland (UMD). This site will be used only for its intended purpose. We will protect your
    information consistent with the principles of the Privacy Act, the e-Government act of 2002, the
    Federal Records Act and, as applicable, the Freedom of Information Act.
  </p>
  <p>
    Submitting information is strictly voluntary. By doing so, you are giving us your permission to
    use the information for the intended purpose. If you do not want to give us permission to use
    your information, simply do not provide it. However, not providing certain information may
    result in our inability to provide you with the information or services you desire. We never
    collect information for commercial marketing. We will only share your information with a
    government agency if it relates to that agency, or as otherwise required by law. We collect no
    personal information about you when you visit this Web site, unless otherwise stated or unless
    you choose to provide this information to us. However, we collect and store certain information
    automatically for use in site management and security purposes such as your IP Address.
  </p>
  <p>
    We use third-party products such as Google Analytics and Google Recaptcha to track site usage
    and to verify you are not a robot. Such third-party products may use cookies to achieve their
    goals.
  </p>
  <p>
    Do not use this site if you have any concern over the use of third-party cookies.
  </p>
</div>
