<div [class]="'theme-wrapper ' + siteTheme.toLowerCase()">
  <div
    class="loading-overlay"
    [ngStyle]="{
      display: !!neatQueryStatus && neatQueryStatus.code === 'searching' ? 'flex' : 'none'
    }"
  >
    <div class="messenger" *ngIf="!!neatQueryStatus && !!neatQueryStatus.message">
      {{ getSearchMessage(neatQueryStatus) }}
    </div>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  <mat-sidenav-container>
    <mat-sidenav mode="push" #sidenav>
      <app-side-nav (closeSidenav)="closeSidenav(sidenav)"></app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="toolbar-wrapper mat-elevation-z4">
        <app-header (openSidenav)="openSidenav(sidenav)"></app-header>
      </div>

      <div class="background-graphic-wrapper">
        <app-background-graphic> </app-background-graphic>
      </div>

      <div class="routed-content-wrapper" [ngStyle]="getPageAnimateStyle()">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>

      <div class="footer-wrapper">
        <div
          class="footer-animator"
          [ngClass]="{ 'footer-animator-hide': isFooterHidden || !isAppLoaded }"
        >
          <app-footer></app-footer>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
