@import '../../styles/styles-variables';

@keyframes xxx {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.theme-wrapper {
  .loading-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(black, 0.5);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: xxx 200ms ease-in-out 0s forwards;

    .messenger {
      color: white;
      margin: 15px 15px;
      // style="background: red; max-width: 300px; width: 300px; white-space: nowrap;"
      max-width: $search-field-max-width;
      width: $search-field-max-width;
      min-width: $search-field-min-width;
      white-space: nowrap;
      text-align: left;
    }
    mat-progress-bar {
      max-width: $search-field-max-width;
      min-width: $search-field-min-width;
    }
  }
}

mat-sidenav-container {
  position: relative;
  min-height: 100vh;
  width: 100%;

  mat-sidenav {
    min-width: 150px;
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;

    .background-graphic-wrapper {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      height: 100vh;
    }

    /**
      The following three '-wrapper' divs combine with mat-sidenav-content and its flex-direction-column setting to generate a sticky footer effect. This pattern is taken from [here](https://github.com/CanKattwinkel/material-2-sticky-footer-mat-sidenav)
    **/

    .toolbar-wrapper {
      position: absolute;
      top: 0px;
      width: 100%;
      z-index: 10;
      height: $header-height-below-600;
    }

    .routed-content-wrapper {
      width: 100%;
      display: flex;
      flex: 1; // child will set to an equal size inside the container
      margin-top: $header-height;
      opacity: 0;
    }

    @media (min-width: 600px) {
      .header-wrapper {
        height: $header-height;
      }
      .routed-content-wrapper {
        margin-top: $header-height;
      }
    }

    .footer-wrapper {
      position: relative;
      z-index: 10;
      height: $footer-height;
      max-height: $footer-height;
      width: 100%;
      opacity: 1;

      .footer-animator {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        opacity: 1;
        overflow: hidden;
        transition: top 0.25s ease-in-out;
      }

      .footer-animator-hide {
        top: $footer-height;
        transition: top 0s ease-in-out;
      }
    }
  }
}

@keyframes pageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  50% {
    opacity: 1;
    // transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
