/*
  For styling forms, see:
  https://material.angular.io/components/form-field/overview
*/

@import '../../../styles/styles-variables.scss';

form {
  position: relative;
  min-width: $search-field-max-width;
  max-width: $search-field-min-width;
  width: 100%;
  margin: auto auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  mat-form-field {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    // background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;

    div.mat-form-field-wrapper {
      padding: 0px 0px;
      background-color: orange;
    }

    input {
      //
      // background-color: pink;
    }

    mat-autocomplete {
      //
      .name-search-result {
        width: 50%;
        border: 1px rgba(100, 100, 100, 1) solid;
        padding: 5px;
        border-radius: 5px;
        font-family: 'Lucida Console', Monaco, monospace;
      }
    }

    button {
      background-color: rgba(white, 0.1);

      // position: absolute;
      // top: 0px;
      // transform: translateY(-50%);
      // right: 0px;
      // transform: translateY(5px);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        animation: fadeIn 300ms ease-in-out;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// .search-form {
//   min-width: $search-field-max-width;
//   max-width: $search-field-min-width;
//   width: 100%;
//   margin: auto auto;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: row;
// }

// .name-search-result2 {
//   width: 50%;
//   border: 1px rgba(100, 100, 100, 1) solid;
//   padding: 5px;
//   border-radius: 5px;
//   // font-family: 'Lucida Console', Monaco, monospace;
// }

// .search-full-width {
//   width: 100%;
//   position: relative;
//   box-sizing: border-box;
//   background-color: red;
//   //
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
//   // flex-direction: column;
// }

// .xxx {
//   position: absolute;
//   top: -7px;
//   right: 0px;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .yyy {
//   background-color: rgba(white, 0.1);
// }
