<div class="checkboxes-container" *ngIf="!!allColNames">
  <div
    class="row checkboxes-wrapper"
    style="width: 100%; display: flex; align-items: center; justify-content: center;"
    *ngFor="let i of getIterator()"
  >
    <div
      class="col"
      style="flex: 1; display: flex; overflow: hidden;"
      *ngFor="let j of getRangeArr(i)"
    >
      <button
        *ngIf="!!labels && labels[allColNames[i + j]] && labels[allColNames[i + j]].description"
        mat-icon-button
        [matTooltip]="labels[allColNames[i + j]].description"
      >
        <mat-icon>info</mat-icon>
      </button>
      <mat-checkbox
        color="accent"
        class="example-margin"
        [checked]="colState[allColNames[i + j]]"
        (change)="updateColState($event, allColNames[i + j])"
        >{{ allColNames[i + j] }}</mat-checkbox
      >
    </div>
  </div>

  <div class="row reset-select-all-buttons-wrapper">
    <div class="col-6" style="flex: 1; display: flex; overflow: hidden; margin: 3px;">
      <button mat-raised-button color="accent" style="width: 100%;" (click)="selectAll()">
        SELECT ALL
      </button>
    </div>
    <div class="col-6" style="flex: 1; display: flex; overflow: hidden; margin: 3px;">
      <button mat-raised-button color="accent" style="width: 100%;" (click)="resetAll()">
        RESET
      </button>
    </div>
  </div>
</div>
