:host {
  box-sizing: border-box;
  display: block;
  justify-content: center;
  // overflow-y: scroll;
  overflow-x: hidden;

  position: relative;
  height: 100%;
  max-height: 100%;
  width: 100%;
  //
  min-width: 50px;
  min-height: 50px;
}

.checkboxes-container2 {
  width: 100%;
  height: 100%;
  // background-color: red;
}

.checkboxes-container {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: auto;

  .button-wrapper {
    display: flex;
    align-items: center;
    button {
      transform: translateY(-4px);
    }
  }
}

.utility-buttons-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .utility-button {
    margin: 10px 0px;
    width: 100%;
    flex: 1 0px 100px;
    button {
      width: 100%;
    }
  }
}

.checkboxes-container-x2-col {
  grid-template-columns: repeat(2, 1fr);
}
.checkboxes-container-x3-col {
  grid-template-columns: repeat(3, 1fr);
}
.checkboxes-container-x4-col {
  grid-template-columns: repeat(4, 1fr);
}
.checkboxes-container-x5-col {
  grid-template-columns: repeat(5, 1fr);
}
.checkboxes-container-x6-col {
  grid-template-columns: repeat(6, 1fr);
}
