<div class="background-image" [ngClass]="backgroundImageClassLogic()">
  <!-- <video [id]="videoId" style="width:100%; height:100%; object-fit:cover;" muted autoplay loop>
    <source [src]="videoSrc" type="video/mp4" />
  </video> -->
</div>

<div
  *ngIf="isBackgroundShown"
  class="stars-wrapper"
  [ngClass]="isBackgroundShown ? '' : 'fade-out'"
>
  <!-- <canvas id="bgCanvas"></canvas> -->
</div>

<div class="images-wrapper" style="background: rgba(255,0,0,0.0);">
  <div
    *ngFor="let imageName of imageNames; let imageIndex = index"
    [ngClass]="'animated-image' + (!isBackgroundShown ? '' : ' show-image ')"
    [ngStyle]="getAnimatedImageStyle(imageName, imageIndex)"
  ></div>
</div>
