.is-light-theme {
  mat-card {
    border: 1.2px solid black;
  }
}

.hide-triangles {
  .tri-handle {
    display: none;
  }
}

.ui-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  // display: flex;
  // justify-content: center;
  align-items: center;
  // background-color: orange;

  margin: auto auto;

  .resizable-both {
    resize: both;
    overflow: auto;
  }
  .resizable-horizontal {
    resize: horizontal;
    overflow: auto;
  }

  .mobile-layout,
  .tablet-layout,
  .desktop-layout {
    // Params
    $nRows: 5;
    $nCols: 3;
    $gap-size: 10px;

    // Grid stuff
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 50fr 1fr 50fr;
    gap: $gap-size $gap-size;

    // Misc
    margin: 10px auto;
    width: 100%;
    max-width: calc(100vw - #{2 * $gap-size});

    & > div {
      position: relative;
      max-width: calc(100vw - #{4 * $gap-size});
      // background-color: yellow;

      svg {
        position: absolute;
        bottom: 0px;
        right: 0px;
        path {
          //
        }
      }

      & > mat-card {
        // box-shadow: 10px 10px 10px rgba(black, 1);
        height: 100%;
        width: 100%;
        max-width: calc(100vw - #{4 * $gap-size});
        box-sizing: border-box;
      }
    }

    .title-space {
      grid-row: 1 / 2;
      grid-column: 2 / #{$nCols};
    }

    .main-image-wheel-space {
      max-height: 90vw;
      height: 500px;
      width: 400px;
      grid-row: 2 / 3;
      grid-column: 2 / #{$nCols};
    }

    .checkboxes-space {
      grid-row: 3 / 4;
      grid-column: 2 / #{$nCols};
      resize: both;
      overflow: auto;
    }

    .table-space {
      height: auto;
      grid-row: 4 / 5;
      grid-column: 2 / #{$nCols};
      overflow-x: hidden;
    }
  }

  .tablet-layout {
    // background-color: pink;
    // Params
    $nRows: 3;
    $nCols: 4;
    $gap-size: 10px;

    // Grid stuff
    display: grid;
    grid-template-rows: 0.1fr 1fr auto;
    grid-template-columns: 50fr 1fr 1fr 50fr;
    gap: $gap-size $gap-size;

    .title-space {
      grid-row: 1 / 2;
      grid-column: 2 / #{$nCols};
    }

    .main-image-wheel-space {
      height: 500px;
      // max-height: 90vw;
      min-width: 300px;
      grid-row: 2 / 3;
      grid-column: 3 / 4;
    }

    .checkboxes-space {
      height: 100%;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      min-width: 200px;

      mat-card {
        position: relative;
        width: 100%;
        resize: horizontal;
        overflow: auto;
        // box-sizing: content-box;

        app-neat-data-checkboxes {
          position: absolute;
          top: 16px;
          bottom: 16px;
          left: 16px;
          right: 16px;
          width: auto;
          height: auto;
        }
      }
    }

    .table-space {
      height: auto;
      grid-row: 3 / 4;
      grid-column: 2 / #{$nCols};
      overflow-x: hidden;
    }
  }

  .desktop-layout {
    // background-color: green;

    // Params
    $nRows: 2;
    $nCols: 5;
    $gap-size: 10px;

    // Grid stuff
    display: grid;
    grid-template-rows: 0.1fr minmax(0px, 1fr);
    grid-template-columns: 50fr 1fr 1fr 1fr 50fr;
    gap: $gap-size $gap-size;

    .title-space {
      grid-row: 1 / 2;
      grid-column: 2 / #{$nCols};
    }

    .table-space {
      min-width: 350px;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      overflow-x: hidden;
      resize: both;

      mat-card {
        position: relative;
        min-width: 200px;
        resize: horizontal;
        overflow: auto;
        // box-sizing: content-box;

        app-neat-data-table {
          position: absolute;
          top: 16px;
          bottom: 16px;
          left: 16px;
          right: 16px;
          width: auto;
          height: auto;
          overflow-y: scroll;
        }
      }
    }

    .checkboxes-space {
      height: 100%;
      grid-row: 2 / 3;
      grid-column: 3 / 4;
      min-width: 200px;

      mat-card {
        position: relative;
        resize: horizontal;
        overflow: auto;
        width: 100%;
        // box-sizing: content-box;

        app-neat-data-checkboxes {
          position: absolute;
          top: 16px;
          bottom: 16px;
          left: 16px;
          right: 16px;
          width: auto;
          height: auto;
        }
      }
    }

    .main-image-wheel-space {
      min-width: 300px;
      width: 100px;
      grid-row: 2 / 3;
      grid-column: 4 / 5;
      max-height: 90vw;
      height: 500px;
    }
  }
}
