<div
  class="ui-container"
  *ngIf="isUiDrawn && latestData$ | async as latestData"
  [ngClass]="{
    'is-light-theme': latestData.effectiveTheme === 'LIGHT-THEME',
    'hide-triangles': latestData.isMobile
  }"
>
  <div [ngClass]="getLayoutClass(latestData.effectiveDevice)">
    <div class="title-space">
      <mat-card>
        <app-neat-data-title (refresh)="refresh()"></app-neat-data-title>
      </mat-card>
    </div>

    <div class="main-image-wheel-space resizable-both">
      <mat-card>
        <div class="main-image-wrapper" style="height: 78%">
          <app-neat-data-main-image></app-neat-data-main-image>
        </div>

        <div style="height: 2%"></div>
        <div class="image-wheel-wrapper" style="height: 20%">
          <app-neat-data-image-wheel [isVertical]="false"></app-neat-data-image-wheel>
        </div>
      </mat-card>
      <svg class="tri-handle" [attr.width]="triSize" [attr.height]="triSize">
        <path [attr.d]="getTriPath()" />
      </svg>
    </div>

    <!-- <div class="checkboxes-space">
      <mat-card>
        <app-neat-data-checkboxes></app-neat-data-checkboxes>
      </mat-card>
      <svg class="tri-handle" [attr.width]="triSize" [attr.height]="triSize">
        <path [attr.d]="getTriPath()" />
      </svg>
    </div> -->

    <div class="table-space resizable-horizontal">
      <mat-card>
        <app-neat-data-table></app-neat-data-table>
      </mat-card>
      <svg class="tri-handle" [attr.width]="triSize" [attr.height]="triSize">
        <path [attr.d]="getTriPath()" />
      </svg>
    </div>
  </div>
</div>
